section.advantages
  .container 
    .advantages__inner
      ul.advantages-list
        li
          svg(aria-hidden="true")
            use(xlink:href="assets/img/icons/sprite.svg#star_1") 
          span Профессиональный автоматизированный цех
        li
          svg(aria-hidden="true")
            use(xlink:href="assets/img/icons/sprite.svg#star_1") 
          span Гарантия удаления пыли и грязи 100% 
            | 
            br
            | по договору
        li
          svg(aria-hidden="true")
            use(xlink:href="assets/img/icons/sprite.svg#star_1")
          span Работаем оперативно, привозим вовремя 