.nav {

  ul {
    display: flex;

    li {

      &::before {
        display: none;
      }

      &:not(:last-of-type) {
        margin-right: 1rem;
      }

      a {
        padding: 0.5rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        color: #000;
        will-change: all;
        transition: all 0.3s ease-out;

        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }
  }

  .current-menu-item {
    color: #ee8425;
    background: linear-gradient(to right, #ee8425 0%, #f9488b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}