nav.nav
  ul(role="menu")
    li(role="menuitem")
      a(href="index.html") Главная
    li(role="menuitem")
      a(href="#services") HTML &amp; CSS
    li(role="menuitem")
      a(href="category.html") Javascript
    li(role="menuitem")
      a(href="#reviews") Wordpress
    li(role="menuitem")
      a(href="#photo") Веб-разработка
    li(role="menuitem")
      a(href="#photo") SEO-продвижение
