section.single
  include ./../../sections/single-top/single-top.pug
  include ./../../sections/single-content/single-content.pug
  include ./../../sections/single-bottom/single-bottom.pug
  //- include ./../../sections/form/form.pug