.single-bottom {

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 3rem 0;
    border-top: 0.1rem solid #e5e5e5;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem 0 4rem 0;
    }

    @media (min-width: 1024px) {
      padding: 3rem 0 5rem 0;
    }

    @media (min-width: 1440px) {
      padding: 3rem 0 7rem 0;
    }

    .tags-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      @media (min-width: 1024px) {
        width: 70%;
        margin-bottom: 0;
      }

      .tag__item {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        a {
          display: inline-block;
          margin: 0 0.6rem 0.5rem 0;
          padding: 0.6rem 1.5rem;
          font-size: 1.2rem;
          color: #6a6b7c;
          border-radius: 0.2rem;
          background: #ebebeb;
          will-change: background, color;
          transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

          @media (min-width: 1024px) {
            padding: 0.8rem 1.7rem;
            font-size: 1.4rem;
          }

          &:hover,
          &:focus {
            color: #fff;
            background: #f44949;
          }
        }
      }
    }

    .single-bottom__share {

      @media (min-width: 1024px) {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }

      .ya-share2__icon {
        will-change: transform;
        transition: transform 0.3s ease-out;

        &:hover,
        &:focus {
          transform: rotate(360deg);
        }
      }
    }
  }
}