section.single-bottom
  .container.container--short
    .single-bottom__inner
      ul.tags-list
        li.tag__item
          a(href="#").tag__link Marketing
        li.tag__item 
          a(href="#").tag__link Experience
      .single-bottom__share(data-services="vkontakte,odnoklassniki,telegram,whatsapp,messenger,twitter" data-size="m" data-shape="normal").ya-share2