.blog__article {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  &:hover,
  &:focus {

    img {
      transform: scale(1.2);
    }
  }

  &:nth-child(9n+1),
  &:nth-child(9n+2),
  &:nth-child(9n+5),
  &:nth-child(9n+6),
  &:nth-child(9n+7),
  &:nth-child(9n+8) {
    height: 27.7rem;

    @media (min-width: 500px) {
      width: 46%;
    }

    @media (min-width: 900px) {
      width: 20rem;
      // width: 21.25rem;
      // width: 20.25rem;
      grid-row: span 1;
      grid-column: span 1;
    }

    @media (min-width: 1024px) {
      width: 100%;
      max-width: 26rem;
      // max-width: 26.25rem;
    }

    @media (min-width: 1200px) {
      max-width: 26.25rem;
    }

    // @media (min-width: 1440px) {
    //   // width: 26.25rem;
    //   width: 22.5rem;
    // }
  }

  &:nth-child(9n+3),
  &:nth-child(9n+4) {
    height: 27.7rem;

    @media (min-width: 500px) {
      width: 46%;
    }

    @media (min-width: 900px) {
      width: 100%;
      // max-width: 43.5rem;
      max-width: 41rem;
      height: 45.5rem;
      grid-row: span 2;
      grid-column: span 2;
    }

    @media (min-width: 1024px) {
      // max-width: 52.5rem;
      max-width: 54.2rem;
      height: 48.5rem;
    //   max-width: 41.5rem;
    //   height: 45.5rem;
    }

    @media (min-width: 1200px) {
      max-width: 51.5rem;
      height: 51.5rem;
    }

    @media (min-width: 1440px) {
      max-width: 55.5rem;
      height: 57.5rem;
      // max-width: 46.5rem;
      // height: 51.5rem;
    }

    .blog__article-text {

      @media (min-width: 900px) {
        padding: 0 2rem;
      }
    }
  }

  &:nth-child(9n+9) {
    height: 27.7rem;

    @media (min-width: 500px) {
      width: 46%;
    }

    @media (min-width: 900px) {
      width: 100%;
      grid-row: span 1;
      grid-column: span 2;
    }
  }

  img {
    height: 100%;
    border-radius: 1rem;
    will-change: transform;
    transition: transform 0.5s ease-in-out;
  }

  &-tag {
    position: absolute;
    top: 3rem;
    left: 3rem;
    display: inline-block;
    padding: 0.3rem 2rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 0.2rem;
    background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%);
  }

  &-text {
    position: absolute;
    left: 0;
    bottom: 1.8rem;
    width: 100%;
    padding: 0 0.5rem;

    @media (min-width: 1024px) {
      padding: 0 2rem;
    }
  }

  &-title {
    text-align: center;

    h2 {
      margin-bottom: 3rem;
    }

    a {
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      background: linear-gradient(to right, #fff 0%, #fff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-size: 200% auto;
      will-change: all;

      @media (min-width: 1024px) {
        font-size: 1.8rem;
      }

      &:hover,
      &:focus {
        animation: textGradientFill 0.4s ease-in-out forwards alternate;
      }
    }
  }

  &-info {
    width: 97%;
    display: flex;

    @media (min-width: 900px) {
      width: 100%;
    }

    &__block {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        margin-right: 1.2rem;
        fill: #ee8425;

        @media (min-width: 1024px) {
          width: 1.4rem;
          height: 1.4rem;
        }
      }

      span {
        position: relative;
        display: block;
        font-size: 1.2rem;
      }
    }

    &__left {
      width: 60%;

      .blog__article-info__block {
  
        &:nth-of-type(2) {
          
          svg {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0.8rem;
          }
        }
      }
    }

    &__right {
      width: 40%;
    }

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      line-height: 1.2rem;
      color: #fff;

      @media (min-width: 1024px) {
        font-size: 1.2rem;
      }

      span {
        display: block;
      }
    }
    
    &__right {
      align-items: flex-end;
    }
  }
}

@keyframes textGradientFill {
  to {
    background-position: 200%;
    background-image: linear-gradient(to right, #ee8425 0%, #f9488b 30%);;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;
  }
}

