article.blog__article
  a(href="single.html")
    picture
      img(src="./wp-content/themes/smart-frontend/assets/img/article.jpg" width="555" height="575" alt="")
      .blog__article-tag JavaScript
      .blog__article-text
        .blog__article-title 
          a(href="single.html") Как клонировать объект или массив в JavaScript
        .blog__article-info
          .blog__article-info__left
            .blog__article-info__block
              svg(aria-hidden="true")
                use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#calendar")
              span 01 января 2023
            .blog__article-info__block
              svg(aria-hidden="true")
                use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#eye")
              span 1000
          .blog__article-info__right
            .blog__article-info__block
              svg(aria-hidden="true")
                use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#clock")
              span 1000
            .blog__article-info__block
              svg(aria-hidden="true")
                use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#comments")
              span 1000