.aside-inner--right,
.aside-inner--left {
  width: 100%;
  // width: 38.2rem;
  // background: #FFF;
  background: green;
  height: 407.9rem;// !!!!

  @media (min-width: 1440px) {
    width: 25%;
    max-width: 40rem;
  }
}

.aside-inner--left {
  order: 1;

  @media (min-width: 1440px) {
    order: 0;
    box-shadow: -2px -4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}

.aside-inner--right {
  order: 2;

  @media (min-width: 1440px) {
    box-shadow: 2px -4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}