footer.footer 
  .container 
    .footer__inner
      .footer__inner-top
        .footer__image
          picture
            source(srcset="assets/img/logo-footer.webp 1x, assets/img/logo-footer@2x.webp 2x" type="image/webp")
            source(srcset="assets/img/logo-footer.jpg 1x, assets/img/logo-footer@2x.jpg 2x")
            img(src="assets/img/logo-footer.jpg 1x, assets/img/logo-footer@2x.jpg 2x" width="580" height="474" alt="" title="" loading="lazy") 
        .footer__contacts 
          h3 Контакты
          a(href="mailto:Big.Styrka@XXXXX.ru") Big.Styrka@XXXXX.ru
          a(href="tel:+7XXXXXXXXXX") +7(XXX)-XXX-XX-XX
          .whatsapp
            a(href="#!" target="_blank" rel="external") WhatsApp
          button.btn.first-btn.footer-btn Оставить заявку
      .footer__inner-bottom
        .footer__name ИП Шаламов Н.С 
        .footer__data ОГРНИП 320508100328122