section.page-404 
  .page-404__inner
    .container
      .breadcrumbs
        .breadcrumbs__item 
          .breadcrumbs__link 
            a(href="index.html") Главная 
          span.breadcrumbs-slash / 
          span Такой страницы не существует... 
      .page-404__content
        h1 Извините, но такая страница не существует...
        a(href="index.html") На главную