.first {
  padding: 5.9rem 0 6.8rem 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .first-text {
      max-width: 59.4rem;
      padding-top: 5.6rem;

      span {
        color: var(--green_1);
      }

      p {
        max-width: 43.7rem;
        margin-bottom: 7.8rem;
        @include Inter-Regular();
        font-size: 3.2rem;
        line-height: 3.9rem;
        color: var(--blue_2);
      }
    }

    .first-img {
      width: 81.5rem;
      position: relative;
      right: -14.2rem;
      opacity: 0.8;
      border-radius: 7rem;

      .first-img__star-3 {
        position: absolute;
        bottom: -2rem;
        right: 1rem;
        width: 12rem;
        height: 14.6rem;
      }

      .first-img__star-2 {
        position: absolute;
        top: 2rem;
        left: 3rem;
        width: 7.2rem;
        height: 9.4rem; 
      }

      .first-img__star-1 {
        position: absolute;
        bottom: 0;
        left: -20rem;
        width: 37.2rem;
        height: 40.7rem; 
      }

      picture {
        width: 81.5rem;
        display: block;
      }
    }
  }
}