section.first
  .container 
    .first__inner 
      .first-text 
        h1 Чистка ковров с 
          |
          span бесплатным 
          | вывозом в цех
        p Гарантируем качественную стирку вашего ковра!
        button.btn.first-btn Оставить заявку
      .first-img
        picture
          img(src="assets/img/icons/star_7.svg" width="372" height="407" alt="" title="" loading="lazy").first-img__star-1
        picture
          img(src="assets/img/icons/star_6.svg" width="72" height="94" alt="" title="" loading="lazy").first-img__star-2
        picture
          img(src="assets/img/icons/star_4.svg" width="120" height="146" alt="" title="" loading="lazy").first-img__star-3
        picture
          source(srcset="assets/img/main-img.webp 1x, assets/img/main-img_@2x.webp 2x" type="image/webp")
          source(srcset="assets/img/main-img.jpg 1x, assets/img/main-img_@2x.jpg 2x")
          img(src="assets/img/main-img.jpg 1x, assets/img/main-img_@2x.jpg 2x" width="815" height="543" alt="" title="" loading="lazy")