.blog {
  width: auto;

  h1 {
    display: none;
    opacity: 1;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  // h1 {
  //   margin-bottom: 3rem;
  //   font-size: 2.6rem;
  //   font-weight: 700;

  //   @media (min-width: 1024px) {
  //     margin-bottom: 5rem;
  //     font-size: 3rem;
  //   }

  //   @media (min-width: 1440px) {
  //     margin-bottom: 7rem;
  //     font-size: 4rem;
  //   }
  // }

  &__inner {
    // width: 100%;
    max-width: 86rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    // gap: 3rem;
    gap: 1rem;
    justify-items: center;
    height: 100%;
    margin-bottom: 5rem;

    @media (min-width: 500px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: 900px) {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1024px) {
      max-width: 144rem;
      // max-width: 84rem;
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1440px) {
      // max-width: 114rem;
      gap: 1rem;
      // max-width: 108rem;
      max-width: 103rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
