section.blog 
  .container.container--blog.container--no-padding
    //- .breadcrumbs
    //-   .breadcrumbs__item 
    //-     .breadcrumbs__link 
    //-       a(href="index.html") Главная 
    //-     span.breadcrumbs-slash / 
    //-     a(href="category.html") JavaScript 
    h1 Блог веб-разработчика — статьи и новинки html, css, javascript, wordpress, тренды и основы веб-разработки сайтов, технологии современной веб-разработки
    .blog__inner 
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
    include ../../bem-blocks/pagination/pagination.pug