section.blog 
  .container
    include ./../../bem-blocks/breadcrumbs/breadcrumbs.pug
    h1 Javascript
    .blog__inner 
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
      include ../../bem-blocks/article/article.pug
    include ../../bem-blocks/pagination/pagination.pug