//- .stars-title Была ли вам полезна эта статья?
//- ul.stars
//-   li.star
//-     img(src="./wp-content/themes/smart-frontend/assets/img/icons/star.svg" width="30" height="30" alt="")
//-   li.star
//-     img(src="./wp-content/themes/smart-frontend/assets/img/icons/star.svg" width="30" height="30" alt="")
//-   li.star
//-     img(src="./wp-content/themes/smart-frontend/assets/img/icons/star.svg" width="30" height="30" alt="")
//-   li.star
//-     img(src="./wp-content/themes/smart-frontend/assets/img/icons/star.svg" width="30" height="30" alt="")
//-   li.star
//-     img(src="./wp-content/themes/smart-frontend/assets/img/icons/star.svg" width="30" height="30" alt="")