section.price 
  .container 
    .price__inner 
      h2 Стоимость
      p.price__subtitle от 269 ₽ за м²
      .price__inner-bottom 
        ul.price__data 
          li 
            picture
              img(src="assets/img/icons/gift.svg" width="65" height="76" alt="" title="" loading="lazy")
            p.price__data-text При зaказe чиcтки 2-ух ковpов, чистка 3-егo ковpа в 
              |
              span подарок! 
          li 
            picture
              img(src="assets/img/icons/carpet.svg" width="114" height="60" alt="" title="" loading="lazy")
            p.price__data-text У нас чистка ковра с обратной стороны входит в стоимость!
        .price__order
          p.price__order-text Напишите нам прямо сейчас, и мы заберем ваш ковер в удобное для вас время!
          button.btn.first-btn.price-btn Оставить заявку