.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    align-items: unset;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    // margin-bottom: 1.5rem;
  }

  &__item {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%);
    will-change: transform;
    transition: transform 0.3s ease-out;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      transform: rotate(360deg);
    }

    &:not(:last-of-type) {
      margin-right: 1.5rem;

      // @media (min-width: 1400px) {
      //   margin-right: 0;
      // }
    }

    a {
      width: 2rem;
      height: 2rem;
      display: block;
    }

    svg {
      width: 2rem;
      height: 2rem;
      fill: #fff;
    }
  }
}