.single-content__inner
  aside.aside-inner--left
  section.single-content
    .container.container--short.container--no-padding
      .single-content__text
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        h2 Free Classifieds Using Them To Promote Your Stuff Online
        blockquote
          p As a result of your work, the senior leadership team walked away as a cohesive unit, re-energized and more hopeful. 
            | We are committed to a new future which we now own. You helped us learn how to be resilient change masters."
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        ul
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
        h3 Free Classifieds Using Them To Promote Your Stuff Online
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        img(src="./wp-content/themes/smart-frontend/assets/img/blog-2.jpg" width="880" height="270" alt="")
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        ol
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
          li As a result of your work, the senior leadership
        h2 Free Classifieds Using Them To Promote Your Stuff Online
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
        img(src="./wp-content/themes/smart-frontend/assets/img/blog-1.jpg" width="880" height="270" alt="")
        h4 Free Classifieds Using Them To Promote Your Stuff Online
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime.
        p Postcards are also viable ways to generate increased contact for your business but because business cards are handier and 
          | easier to fit into a wallet or a business file organizer, they are more certain to be carried anywhere and anytime. Moreover, 
          | what is printed on the card is as important as to how the information is printed. A business card should have the name and the logo of the company.
  aside.aside-inner--right