header.header
  .container
    .header__inner
      include ./../../bem-blocks/logo/logo.pug
      .header__mobile-wrap
        include ./../../bem-blocks/nav/nav.pug
        include ./../../bem-blocks/socials/socials.pug
      include ./../../bem-blocks/burger/burger.pug