header.header
  .container
    .header__inner 
      include ./../../blocks/logo/logo.pug
      include ./../../blocks/nav/nav.pug
      .whatsapp
        a(href="#!" target="_blank" rel="external")
          picture
            img(src="assets/img/icons/whatsapp.svg" width="40" height="42" alt="" title="" loading="lazy")
      include ./../../blocks/contacts/contacts.pug