extends ./../layouts/main

block variables
  - let pageTitle = 'Javascript — Smart-Frontend';

block content
  .wrapper
    include ./../components/sections/header/header.pug
    .wrapper__inner
      main.main-index.main-index--category
        .breadcrumbs
          .breadcrumbs__item 
            .breadcrumbs__link 
              a(href="index.html") Главная 
            span.breadcrumbs-slash / 
            a(href="category.html") JavaScript 
        include ./../components/sections/blog/blog.pug
      aside.aside-right
    include ./../components/sections/footer/footer.pug