extends ./../layouts/main

block variables
  - let pageTitle = 'Big Wash';

block content
  include ./../components/sections/header/header.pug
  include ./../components/sections/first/first.pug
  include ./../components/sections/advantages/advantages.pug
  include ./../components/sections/process/process.pug
  include ./../components/sections/price/price.pug
  include ./../components/sections/order/order.pug
  include ./../components/sections/technologies/technologies.pug
  include ./../components/sections/about/about.pug
  include ./../components/sections/reviews/reviews.pug
  include ./../components/sections/footer/footer.pug