section.technologies
  .container 
    .technologies__inner 
      h2 Средства 
        |
        br
        span которые мы используем
      .tools-list 
        .tools__item
          .tools__item--svg
            svg(aria-hidden="true")
              use(xlink:href="assets/img/icons/sprite.svg#icon_1")
          span гипоаллергенные
        .tools__item
          .tools__item--svg
            svg(aria-hidden="true")
              use(xlink:href="assets/img/icons/sprite.svg#icon_2")
          span премиальные
        .tools__item
          .tools__item--svg
            svg(aria-hidden="true")
              use(xlink:href="assets/img/icons/sprite.svg#icon_3")
          span электростатические
        .tools__item
          .tools__item--svg
            svg(aria-hidden="true")
              use(xlink:href="assets/img/icons/sprite.svg#icon_4")
          span антизапах
        .tools__item
          .tools__item--svg
            svg(aria-hidden="true")
              use(xlink:href="assets/img/icons/sprite.svg#icon_5")
          span сертифицированные