section.sitemap 
  .container
    .breadcrumbs
      .breadcrumbs__item 
        .breadcrumbs__link 
          a(href="index.html") Главная 
        span.breadcrumbs-slash / 
        span Карта сайта
    h1 Карта сайта
    .sitemap__inner 
      .sitemap-block
        h2.sitemap-block__title Рубрики
        ul.sitemap-block__list
          li.page_item
            a(href="category.html" aria-current="page") HTML & CSS
          li.page_item
            a(href="category.html" aria-current="page") Javascript
          li.page_item
            a(href="category.html" aria-current="page") Wordpress
          li.page_item
            a(href="category.html" aria-current="page") SEO-продвижение
      .sitemap-block
        h2.sitemap-block__title Статьи
        h3.sitemap-block__list-category__title HTML & CSS
        ul.sitemap-block__list
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать глассморфизм (glassmorphism) на css") 
              | Как сделать глассморфизм (glassmorphism) на css   
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: CSS свойства margin-inline-end и margin-inline-start")
              | CSS свойства margin-inline-end и margin-inline-start
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Малоизвестные атрибуты HTML-элементов")
              | Малоизвестные атрибуты HTML-элементов
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать вертикальный текст с помощью css text-orientation")
              | Как сделать вертикальный текст с помощью css text-orientation
          li.page_item
            a(href="single.html" aria-current="page" title="Выделение текста с помощью HTML-тега mark")
              | Выделение текста с помощью HTML-тега mark
      .sitemap-block
        h2.sitemap-block__title Статьи
        h3.sitemap-block__list-category__title Javascript
        ul.sitemap-block__list
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать глассморфизм (glassmorphism) на css") 
              | Как сделать глассморфизм (glassmorphism) на css   
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: CSS свойства margin-inline-end и margin-inline-start")
              | CSS свойства margin-inline-end и margin-inline-start
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Малоизвестные атрибуты HTML-элементов")
              | Малоизвестные атрибуты HTML-элементов
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать вертикальный текст с помощью css text-orientation")
              | Как сделать вертикальный текст с помощью css text-orientation
          li.page_item
            a(href="single.html" aria-current="page" title="Выделение текста с помощью HTML-тега mark")
              | Выделение текста с помощью HTML-тега mark
      .sitemap-block
        h2.sitemap-block__title Статьи
        h3.sitemap-block__list-category__title Веб-разработка
        ul.sitemap-block__list
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать глассморфизм (glassmorphism) на css") 
              | Как сделать глассморфизм (glassmorphism) на css   
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: CSS свойства margin-inline-end и margin-inline-start")
              | CSS свойства margin-inline-end и margin-inline-start
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Малоизвестные атрибуты HTML-элементов")
              | Малоизвестные атрибуты HTML-элементов
          li.page_item
            a(href="single.html" aria-current="page" title="Ссылка на статью: Как сделать вертикальный текст с помощью css text-orientation")
              | Как сделать вертикальный текст с помощью css text-orientation
          li.page_item
            a(href="single.html" aria-current="page" title="Выделение текста с помощью HTML-тега mark")
              | Выделение текста с помощью HTML-тега mark
