.single__top
  .single__top-img
    picture
      img(src="./wp-content/themes/smart-frontend/assets/img/404-2.jpg" width="1920" height="607" alt="Как клонировать объект или массив в JavaScript")
  .single__top-text
    .container
      .breadcrumbs
        .breadcrumbs__item 
          .breadcrumbs__link 
            a(href="index.html") Главная 
          span.breadcrumbs-slash / 
          a(href="category.html") JavaScript 
          span.breadcrumbs-slash / 
          span Как клонировать объект или массив в JavaScript
      .single__top-text__header
        h1 Как клонировать объект или массив в JavaScript
        .single__top-info
          .single__top-info__date
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#calendar")
            span 1 января 2023 г.
          .single__top-info__views
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#eye")
            span 10890
          .single__top-info__time
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#clock")
            span 5 минут
          .single__top-info__comments
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/smart-frontend/assets/img/icons/sprite.svg#comments")
            span 23