section.about 
  .container 
    .about__inner 
      .about__text 
        h2 О нас
        p Мы зaнимаемся  чисткой кoвpов и палаcов в своем цeхе — “Большая стирка”. Уже 
          | 
          span более 10 лет 
          | даем 
          span новую 
          | жизнь вашим любимым коврам!
      .about__slider-wrapper
        .about__slider
          .swiper-wrapper
            .swiper-slide
              picture
                source(srcset="assets/img/about_1.webp 1x, assets/img/about_1@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_1.jpg 1x, assets/img/about_1@2x.jpg 2x")
                img(src="assets/img/about_1.jpg 1x, assets/img/about_1@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_2.webp 1x, assets/img/about_2@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_2.jpg 1x, assets/img/about_2@2x.jpg 2x")
                img(src="assets/img/about_2.jpg 1x, assets/img/about_2@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_3.webp 1x, assets/img/about_3@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_3.jpg 1x, assets/img/about_3@2x.jpg 2x")
                img(src="assets/img/about_3.jpg 1x, assets/img/about_3@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_4.webp 1x, assets/img/about_4@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_4.jpg 1x, assets/img/about_4@2x.jpg 2x")
                img(src="assets/img/about_4.jpg 1x, assets/img/about_4@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_5.webp 1x, assets/img/about_5@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_5.jpg 1x, assets/img/about_5@2x.jpg 2x")
                img(src="assets/img/about_5.jpg 1x, assets/img/about_5@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_6.webp 1x, assets/img/about_6@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_6.jpg 1x, assets/img/about_6@2x.jpg 2x")
                img(src="assets/img/about_6.jpg 1x, assets/img/about_6@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_7.webp 1x, assets/img/about_7@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_7.jpg 1x, assets/img/about_7@2x.jpg 2x")
                img(src="assets/img/about_7.jpg 1x, assets/img/about_7@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
            .swiper-slide
              picture
                source(srcset="assets/img/about_8.webp 1x, assets/img/about_8@2x.webp 2x" type="image/webp")
                source(srcset="assets/img/about_8.jpg 1x, assets/img/about_8@2x.jpg 2x")
                img(src="assets/img/about_8.jpg 1x, assets/img/about_8@2x.jpg 2x" width="798" height="599" alt="" title="" loading="lazy")
        .about__slider-next
        .about__slider-prev