.email {

    a {
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        color: #000;
        will-change: color;
        transition: color 0.3s ease-out;

        &:hover,
        &:focus {
          background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
    }
}