:root {

/* COLORS */

--blue_1: #0044BB;
--blue_2: #1F9EF3;
--blue_3: #2B50A2;
--white_1: #FFFFFF;
--white_2: #E7F5FF;
--gray_1: #E7F5FF;
--gray_2: #575757;
--gray_3: #D9D9D9;
--gray_4: #666676;
--green_1: #00E55C;
--black_1: #333333;
--black_2: #0A0A0A;
--black_3: #000000;
--black_4: #171711;
}