:root {
  /* COLORS */
  --blue_1: #0044BB;
  --blue_2: #1F9EF3;
  --blue_3: #2B50A2;
  --white_1: #FFFFFF;
  --white_2: #E7F5FF;
  --gray_1: #E7F5FF;
  --gray_2: #575757;
  --gray_3: #D9D9D9;
  --gray_4: #666676;
  --green_1: #00E55C;
  --black_1: #333333;
  --black_2: #0A0A0A;
  --black_3: #000000;
  --black_4: #171711;
}

/* FONTS */

/* Montserrat */

/* Inter */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

input[type=submit],
button {
  cursor: pointer;
}

hr {
  display: block;
  height: 0.1em;
  border: 0;
  border-top: 0.1em solid #ccc;
  margin: 1em 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}

section,
footer,
main,
header,
.main-inner {
  width: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  width: 100vw;
  flex: 0 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EBEDEF;
}

.container {
  width: 100%;
  max-width: 140.2rem;
  padding: 0 1rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 3.6rem;
  font-family: "Inter-Black";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: var(--blue_2);
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  font-size: 7.8rem;
  line-height: 9.5rem;
  color: var(--white_1);
}

h3 {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--white_1);
}

.btn {
  padding: 1.45rem 3.96rem;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--black_1);
  background: var(--green_1);
  border-radius: 1.4rem;
  border: none;
  outline: none;
}

.header__inner {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner .whatsapp {
  margin-right: 6.2rem;
}

.footer {
  padding: 16.8rem 0 15rem 0;
  background: var(--blue_3);
}

.footer__inner {
  width: 100%;
}

.footer__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.6rem;
}

.footer__inner-top h3 {
  margin-bottom: 2.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 5rem;
  line-height: 6.1rem;
  color: var(--white_1);
}

.footer__inner-top .footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__inner-top .footer__contacts a {
  display: block;
  margin-bottom: 2.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 3.8rem;
  line-height: 4.6rem;
  color: var(--white_1);
}

.footer__inner-top .footer__contacts .whatsapp {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.footer__inner-top .footer__contacts .whatsapp a {
  margin-bottom: 0;
  text-decoration-line: underline;
  color: var(--green_1);
}

.footer__inner-top .footer__contacts .whatsapp::before {
  position: absolute;
  content: "";
  left: -5rem;
  width: 4.6rem;
  height: 4.9rem;
  background: url("../img/icons/whatsapp.svg") no-repeat center center;
}

.footer__inner-top .footer__contacts .footer-btn {
  padding: 1.95rem 6.16rem;
}

.footer__inner-bottom {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--white_1);
  opacity: 0.33;
}

.logo {
  margin-right: 11.3rem;
}

.nav {
  margin-right: auto;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li:nth-of-type(1) {
  margin-right: 12.4rem;
}

.nav ul li a {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--black_1);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts .phone a,
.contacts .region a {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--black_1);
}

.contacts .phone {
  margin-right: 7.4rem;
}

.contacts .region a {
  color: var(--blue_2);
}

.first {
  padding: 5.9rem 0 6.8rem 0;
}

.first__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__inner .first-text {
  max-width: 59.4rem;
  padding-top: 5.6rem;
}

.first__inner .first-text span {
  color: var(--green_1);
}

.first__inner .first-text p {
  max-width: 43.7rem;
  margin-bottom: 7.8rem;
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: var(--blue_2);
}

.first__inner .first-img {
  width: 81.5rem;
  position: relative;
  right: -14.2rem;
  opacity: 0.8;
  border-radius: 7rem;
}

.first__inner .first-img .first-img__star-3 {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  width: 12rem;
  height: 14.6rem;
}

.first__inner .first-img .first-img__star-2 {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 7.2rem;
  height: 9.4rem;
}

.first__inner .first-img .first-img__star-1 {
  position: absolute;
  bottom: 0;
  left: -20rem;
  width: 37.2rem;
  height: 40.7rem;
}

.first__inner .first-img picture {
  width: 81.5rem;
  display: block;
}

.advantages {
  padding: 15.4rem 0 0 0;
  background: url("../img/icons/green-bg.svg") no-repeat center center;
  background-size: 163.8rem 100%;
}

.advantages__inner {
  width: 100%;
  padding-bottom: 6.5rem;
}

.advantages__inner .advantages-list {
  width: 100%;
  padding-bottom: 7.9rem;
  display: flex;
  justify-content: space-between;
}

.advantages__inner .advantages-list li {
  max-width: 35.3rem;
  display: flex;
  flex-direction: column;
}

.advantages__inner .advantages-list li svg {
  width: 6.2rem;
  height: 7.9rem;
  margin-bottom: 1.5rem;
  fill: var(--white_1);
}

.advantages__inner .advantages-list li span {
  display: block;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 3rem;
  line-height: 3.7rem;
  color: var(--white_1);
}

.process {
  position: relative;
  padding-bottom: 22rem;
}

.process::before {
  position: absolute;
  content: "";
  top: -9.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/icons/blue-bg.svg") no-repeat center center;
  background-size: 173rem 100%;
}

.process__inner {
  position: relative;
}

.process__inner::after {
  position: absolute;
  content: "";
  top: 10rem;
  right: -2rem;
  width: 24.6rem;
  height: 23.5rem;
  background: url("../img/icons/star_5.svg") no-repeat center center;
}

.process__inner .process-img {
  position: absolute;
  right: 0;
  bottom: 1rem;
}

.process__inner .process-img__man {
  position: absolute;
  right: -25.8rem;
  bottom: 6rem;
  width: 56.6rem;
  height: 71rem;
}

.process__inner .process-img__quote {
  position: absolute;
  z-index: 100;
  right: 17rem;
  bottom: 2rem;
  width: 50rem;
  min-height: 15.7rem;
  padding: 5rem 8rem 5rem 10rem;
  background: #E7F5FF;
  border-radius: 1.9rem;
}

.process__inner .process-img__quote::after {
  position: absolute;
  content: "";
  right: -2.7rem;
  top: -5.5rem;
  width: 12.4rem;
  height: 9rem;
  background: url("../img/icons/quote-corner.svg") no-repeat center center;
}

.process__inner .process-img__quote p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--black_2);
}

.process__inner h2 {
  margin-bottom: 0.8rem;
}

.process__inner span {
  text-transform: uppercase;
}

.process__inner h3 {
  max-width: 57rem;
  margin-bottom: 2.7rem;
}

.process__inner .process-list {
  margin-bottom: 8rem;
  counter-reset: process 0;
}

.process__inner .process-list li {
  position: relative;
  max-width: 73.2rem;
}

.process__inner .process-list li:not(:last-of-type) {
  margin-bottom: 7.6rem;
}

.process__inner .process-list li::before {
  position: absolute;
  content: counter(process);
  top: 50%;
  left: -8rem;
  transform: translateY(-50%);
  counter-increment: process;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 12rem;
  line-height: 14.6rem;
  color: var(--white_1);
}

.process__inner .process-list li h4,
.process__inner .process-list li p {
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: var(--white_1);
}

.process__inner .process-list li h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}

.process__inner .process-list li p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
}

.price {
  position: relative;
  padding: 2rem 0 79rem 0;
}

.price::before {
  position: absolute;
  content: "";
  top: -59rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/icons/price-bg.svg") no-repeat 100% -6%;
  background-size: 100% 100%;
}

.price__inner {
  position: relative;
  width: 100%;
}

.price__inner h2 {
  margin-bottom: 0.6rem;
}

.price__inner .price__subtitle {
  margin-bottom: 11.9rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17.8rem;
  line-height: 21.7rem;
  color: var(--white_1);
}

.price__inner-bottom {
  display: flex;
  justify-content: space-between;
}

.price__inner-bottom .price__data li {
  display: flex;
  align-items: center;
}

.price__inner-bottom .price__data li:not(:last-of-type) {
  margin-bottom: 7.6rem;
}

.price__inner-bottom .price__data li:nth-of-type(1) img {
  width: 6.5rem;
  height: 7.6rem;
}

.price__inner-bottom .price__data li:nth-of-type(2) img {
  height: 11.4rem;
  width: 6rem;
}

.price__inner-bottom .price__data li .price__data-text {
  max-width: 58rem;
  margin-left: 3.4rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3.7rem;
  color: var(--white_1);
}

.price__inner-bottom .price__data li .price__data-text span {
  text-transform: uppercase;
}

.price__inner-bottom .price__order {
  max-width: 38.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.price__inner-bottom .price__order-text {
  margin-bottom: 1.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--white_1);
}

.price__inner-bottom .price__order .price-btn {
  padding: 2.5rem 8.9rem;
}

.order {
  padding-bottom: 6.5rem;
  margin-top: -45rem;
}

.order__inner h2 {
  margin-bottom: 1.2rem;
  color: var(--black_3);
}

.order__inner h3 {
  margin-bottom: 0.9rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--black_3);
}

.order__inner h3 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--blue_2);
  text-transform: uppercase;
}

.order__inner .address {
  margin-bottom: 5.3rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: var(--gray_2);
}

.order__inner .form {
  max-width: 136.8rem;
  padding: 9.6rem 10rem 11.3rem 9.6rem;
  background: var(--blue_2);
  border-radius: 5rem;
}

.order__inner .form__title {
  margin-bottom: 1.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 4.2rem;
  line-height: 5.2rem;
  color: var(--white_1);
}

.order__inner .form__subtitle {
  margin-bottom: 5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--white_1);
}

.order__inner .form__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.4rem;
}

.order__inner .form input {
  color: var(--white_1);
  font-size: 1.2em;
  font-style: italic;
}

.order__inner .form input:not(:last-of-type) {
  margin-right: 1.9rem;
}

.order__inner .form input:-ms-input-placeholder {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: var(--white_1);
}

.order__inner .form input::placeholder,
.order__inner .form input[type=submit] {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: var(--white_1);
}

.order__inner .form input[type=submit] {
  background: var(--green_1);
}

.order__inner .form input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.order__inner .form input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  -ms-user-select: none;
  user-select: none;
}

.order__inner .form input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0.2rem solid var(--white_1);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.order__inner .form input[type=checkbox]:checked + label::before {
  border-color: var(--white_1);
  background-color: var(--blue_2);
  background: url("../img/icons/check.svg") no-repeat center center;
}

.order__inner .form input[type=checkbox]:disabled + label::before {
  background-color: var(--white_1);
}

.order__inner .form label {
  margin-left: 0.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--white_1);
}

.order__inner .form__name,
.order__inner .form__phone {
  background: rgba(0, 0, 0, 0.2);
}

.order__inner .form__name,
.order__inner .form__phone,
.order__inner .form__submit {
  width: 37.7rem;
  padding: 2.75rem 3.7rem;
  border-radius: 2.4rem;
  border: none;
  outline: none;
}

.technologies {
  padding-top: 6.5rem;
}

.technologies__inner h2 {
  margin-bottom: 10rem;
  color: var(--black_4);
}

.technologies__inner h2 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 5.4rem;
  line-height: 6.6rem;
  color: var(--black_4);
}

.technologies__inner .tools-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13.2rem;
}

.technologies__inner .tools-list .tools__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.technologies__inner .tools-list .tools__item--svg {
  width: 25.4rem;
  height: 25.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 1.6rem;
  background: var(--green_1);
}

.technologies__inner .tools-list .tools__item--svg svg {
  width: 12.5rem;
  height: 12.5rem;
  fill: var(--white_1);
}

.technologies__inner .tools-list .tools__item span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: var(--black_4);
}

.about {
  padding: 3.3rem 0;
  background: var(--black_1);
  display: flex;
  align-items: center;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__inner .about__text {
  max-width: 58.2rem;
  margin-right: 11.4rem;
}

.about__inner .about__text h2 {
  margin-bottom: 6.6rem;
}

.about__inner .about__text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--white_1);
}

.about__inner .about__text p span:nth-of-type(1) {
  font-weight: bold;
}

.about__inner .about__text p span:nth-of-type(2) {
  text-transform: uppercase;
}

.about__inner .about__slider-wrapper {
  position: relative;
  transform: translateX(14rem);
  width: 79.8rem;
  height: 59.9rem;
}

.about__inner .about__slider {
  max-width: 79.8rem;
  max-height: 59.9rem;
  display: flex;
  overflow: hidden;
}

.about__inner .about__slider .swiper-wrapper {
  position: relative;
  display: flex;
}

.about__inner .about__slider .swiper-wrapper .swiper-slide {
  max-width: 79.8rem;
  max-height: 59.9rem;
}

.about__inner .about__slider .swiper-wrapper .swiper-slide img {
  border-radius: 5.2rem;
}

.about__slider-next,
.about__slider-prev {
  position: absolute;
  cursor: pointer;
  width: 7.2rem;
  height: 7.2rem;
  background: var(--gray_3);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.about__slider-next {
  left: -9rem;
}

.about__slider-prev {
  right: -9rem;
}

.about__slider-next::after,
.about__slider-prev::after {
  position: absolute;
  content: "";
  top: 2.2rem;
  width: 2.8rem;
  height: 2.8rem;
  border-top: 0.6rem solid var(--blue_3);
  border-right: 0.6rem solid var(--blue_3);
}

.about__slider-next::after {
  right: 1.7rem;
  transform: rotate(-132deg);
}

.about__slider-prev::after {
  right: 2.5rem;
  transform: rotate(40deg);
}

.reviews {
  padding: 11.3rem 0 18rem 0;
}

.reviews__inner h2 {
  margin-bottom: 5.4rem;
  color: var(--black_1);
}

.reviews__inner .reviews__slider {
  transform: translateX(-10rem);
  width: 100vw;
  overflow: hidden;
}

.reviews__inner .reviews__slider .swiper-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 0.5rem;
  padding: 0 0 12rem 10rem;
  display: flex;
  justify-content: space-between;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide {
  min-height: 37.4rem;
  min-width: 60.4rem;
  padding: 4rem 4.8rem;
  background: var(--white_1);
  box-shadow: 0px 48.3px 96.6px rgba(168, 168, 190, 0.3);
  border-radius: 2.4rem;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top .swiper-slide__avatar {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top .swiper-slide__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--gray_4);
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top .swiper-slide__stars {
  display: flex;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top .swiper-slide__stars svg {
  width: 3rem;
  height: 3rem;
  fill: var(--green_1);
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide__top .swiper-slide__stars svg:not(:last-of-type) {
  margin-right: 0.8rem;
}

.reviews__inner .reviews__slider .swiper-wrapper .swiper-slide .swiper-slide__bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  color: var(--gray_4);
}

.reviews__slider-next,
.reviews__slider-prev {
  position: absolute;
  top: 34%;
  width: 7.2rem;
  height: 7.2rem;
  background: var(--blue_3);
  box-shadow: -4px 4px 8.3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.reviews__slider-next {
  left: 1rem;
}

.reviews__slider-prev {
  right: 53rem;
  right: 11%;
}

.reviews__slider-next::after,
.reviews__slider-prev::after {
  position: absolute;
  content: "";
  top: 2.2rem;
  width: 2.8rem;
  height: 2.8rem;
  border-top: 0.6rem solid var(--white_1);
  border-right: 0.6rem solid var(--white_1);
}

.reviews__slider-next::after {
  right: 1.7rem;
  transform: rotate(-132deg);
}

.reviews__slider-prev::after {
  right: 2.5rem;
  transform: rotate(40deg);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 1.6rem !important;
  }
}