section.process
  .container
    .process__inner 
      .process-img
        .process-img__man
          picture
            source(srcset="assets/img/man.webp 1x, assets/img/man_@2x.webp 2x" type="image/webp")
            source(srcset="assets/img/man.png 1x, assets/img/man_@2x.png 2x")
            img(src="assets/img/man.png 1x, assets/img/man_@2x.png 2x" width="566" height="710" alt="" title="" loading="lazy")
          .process-img__quote
            p Мы гарантируем качественную 
              | 
              br
              | и правильную стирку вашего ковра! 
      h2 Процесс стирки
      h3 Производим чистку ковров в 6 этапов в соответствии с 
        | 
        span гост 
        | на современном оборудовании:
      ul.process-list
        li 
          h4 Выбивание
          p Полноценное выбивание на станке — это десятки тысяч микро ударов.
        li 
          h4 Стирка на оборудовании
          p Автоматический комплекс.
          p Всегда одинаково хорошее качество стирки, которое не зависит от человеческого фактора! 
            | Полное промокание позволяет удалить грязь не только с поверхности ворса, но и из подложки ковра.
        li 
          h4 Отжим ковра
          p Качественный отжим может быть только в специальной центрифуге. Центрифуга удаляет оставшуюся воду и влагу практически полностью.
        li 
          h4 Сушка в камере
          p Сушильная камера закрытого типа. Внутри установлены промышленные осушители, которые удаляют всю влагу из воздуха. 
            | Используем озон для антибактериальной обработки ковров во время сушки.
        li 
          h4 Финишная обработка
          p Финальный этап с детальным контролем качества стирки. Укладка ворса  специальными щетками. Дополнительная обработка 
            | антистатиком. Дополнительная обработка средством против моли. Вы получаете полностью чистый ковер!
        li 
          h4 Упаковка и подготовка к отправке клиенту
          p Все ковры проходят контроль качества перед упаковкой. Каждый ковер после стирки упаковывается. В назначенный день курьер 
            | доставит чистый, сухой и упакованный ковёр прямо к Вам домой.